doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title AWS Services 
  body
    .header
      h1.page-title  
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    ul.nav
      li: a(href='#news') Code Commit
      li: a(href='/') Code Pipeline
      li: a(href='#about') Code Build
      li: a(href='#contact') Code Deploy
    
    .main-content
      block content

