extend default

block content
 
                <h2><font color="RED"> Application Build by AWS CodeBuild</h2>
                <br>
                <body><center><h1><font color="BLACK">AWS CODE SERVICES.</h1></center></body>
                <br>
                <body><center><h1><font color="BLACK">Learn to build and deploy</h1></center></body>
         
